* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tophead {
  padding-top: 20px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  width: 100%;
}

.head1 {
  font-size: 14px;
  color: rgb(108, 106, 106);
  padding-left: 43px;
}

.head2 {
  font-weight: bold;
  font-size: 20px;
}

.head3 {
  font-size: 15px;
  color: rgb(108, 106, 106);
}

.head4 {
  font-size: 15px;
  color: rgb(108, 106, 106);
}

#icon1 {
  font-size: 30px;
  color: rgba(217, 74, 74, 0.97);
}

#icon2 {
  font-size: 30px;
  color: rgba(217, 74, 74, 0.97);
}

#icon3 {
  font-size: 30px;
  color: rgba(217, 74, 74, 0.97);
}

#navbar ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 15px;
  list-style: none;
}

#navbar {
  position: sticky;
  height: 50px;
  width: 100%;
  background-color: rgb(246, 104, 53);
  top: 0%;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
}

#body {
  background-image: url(/heavy-machinery-used-construction-industry-engineering_23-2151307758.avif);
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  background-size: 100%;
}

.head5 {
  color: white;
  font-size: 80px;
  margin-left: 30%;
  padding-top: 10%;
}

.head6 {
  color: white;
  font-size: 80px;
  margin-left: 25%;
}

.head7 {
  padding-left: 30%;
  color: white;
  padding-top: 25px;
}

.btn {
  height: 40px;
  width: 130px;
  border-radius: 25%;
  margin-left: 45%;
  margin-top: 40px;
  background-color: rgb(246, 104, 53);
  color: white;
  border-color: white;
}

#main {
  height: 550px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#photo1 {
  height: 400px;
  padding-top: 100px;
}

#sidebar {
  padding-top: 100px;
}

.btn2 {
  height: 40px;
  width: 130px;
  border-radius: 25%;
  background-color: rgb(246, 104, 53);
  color: white;
  border-color: white;
}

#photo1:hover {
  scale: 1.1;
  transition-duration: 2s;
}

.a1 {
  color: rgb(246, 104, 53);
  font-weight: bolder;
  font-size: 20px;
}

.a2 {
  font-size: 40px;
}

#main2 {
  height: 700px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: rgb(240, 237, 237);
}

.grid1 {
  margin-top: 20%;
  height: 350px;
  width: 300px;
  border: 1px solid rgb(232, 230, 230);
  gap: 20px;
  text-align: center;
}

.photo2 {
  width: 300px;
}

.b1 {
  color: black;
}

#main3 {
  height: 450px;
  width: 100%;
  background: url(./glasses-lie-laptop-reflecting-light-from-screen-dark_169016-53056.avif);
  background-size: cover;
}

#photo3 {
  border-radius: 50%;
  height: 80px;
  margin-top: 100px;
  margin-left: 120px;
}

.b2 {
  padding-top: 30px;
  color: white;
  padding-left: 30px;
}

.b3 {
  color: white;
  padding-left: 30px;
}

.b4 {
  padding-top: 30px;
  color: white;
  padding-left: 30px;
}

#main4 {
  background-color: rgb(204, 203, 203);
  height: 400px;
  display: flex;
  justify-content: space-evenly;
}

.c1 {
  margin-top: 80px;
}

#about {
  height: 300px;
  width: 100%;
  background-image: url(./huge-mining-machine-coal-mine-generative-ai_73899-17059.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.d1 {
  color: white;
  padding-left: 10%;
  padding-top: 80px;
  font-size: 50px;
}

.d2 {
  color: white;
  font-size: 20px;
  font-weight: lighter;
  padding-left: 10%;
}

#abt1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 140px;
  justify-content: center;
}

#photo11 {
  padding-left: 30px;
  height: 422px;
  width: 400px;
}

.head10 {
  font-size: 20px;
}

.head11 {
  font-weight: bolder;
}

.head12 {
  font-size: 20px;
}

.btn10 {
  height: 40px;
  width: 140px;
  background-color: rgb(246, 104, 53);
  color: white;
  border: 1px solid white;
}

#desc {
  margin-left: 60px;
  width: 500px;
}

#abt2 {
  background-color: rgb(244, 243, 243);
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-top: 200px;
  padding-top: 70px;
}

#red {
  color: orangered;
}

#abt3 {
  height: 600px;
  width: 100%;
}

#teammates {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.t1 {
  height: 200px;
  width: 190px;
}

.heading {
  padding-left: 45%;
  padding-top: 80px;
}

#team1 {
  height: 300px;
  width: 200px;
  border: 1px solid black;
}

#team2 {
  height: 300px;
  width: 200px;
  border: 1px solid black;
}

#team3 {
  height: 300px;
  width: 200px;
  border: 1px solid black;
}

#team4 {
  height: 300px;
  width: 200px;
  border: 1px solid black;
}

#abt4 {
  height: 150px;
  width: 100%;
}

.mark img {
  padding-left: 70px;
  padding-top: 50px;
}

#head14 {
  font-size: 40px;
  color: rgb(246, 104, 53);
}

#head15 {
  font-size: 25px;
  padding-left: 20px;
  padding-top: 10px;
}

#head16 {
  font-size: 25px;
  padding-left: 10px;
  padding-top: 10px;
}

#head17 {
  font-size: 25px;
  padding-left: 35px;
  padding-top: 10px;
}

#head18 {
  font-size: 25px;
  padding-left: 25px;
  padding-top: 10px;
}

.para1 {
  padding-left: 35px;
}

#serv1 {
  height: 600px;
  width: 100%;
  margin-top: 100px;
}

#service1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#service2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.box10 {
  height: 400px;
}

.photoA {
  height: 200px;
  width: 300px;
}

.black {
  color: black;
}

#mainproject {
  height: 600px;
  width: 100%;
  margin-top: 100px;
}

#prj1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#prj2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}

#prj3 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
  padding-left: 137px;
}

.pho {
  height: 150px;
  width: 300px;
}

.pro {
  border: px solid white;
  height: 300px;
  width: 300px;
}

.pro:hover {
  scale: 1.1;
  transition-duration: 2s;
}

#mainblog {
  height: 800px;
  width: 100%;
}

.searchsection {
  margin-left: 200px;
  margin-top: 100px;
  height: 100px;
  width: 200px;
  background-color: rgb(216, 213, 213);
  text-align: center;
}

.blogp {
  font-weight: bolder;
  text-decoration: underline;
}

.blogp:hover {
  color: rgb(246, 104, 53);
}

.cate {
  margin-left: 200px;
  margin-top: 100px;
  height: 300px;
  width: 200px;
  background-color: rgb(216, 213, 213);
  text-align: center;
}

.tags {
  margin-left: 200px;
  margin-top: 100px;
  height: 160px;
  width: 200px;
  background-color: rgb(216, 213, 213);
  text-align: center;
}

.btntags:hover {
  background-color: rgb(246, 104, 53);
  color: white;
}/*# sourceMappingURL=styles.css.map */