*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#tophead{
    padding-top: 20px;
    justify-content: space-evenly;
    display: flex;
    height: 100px;
    width: 100%;
    border: 1px solid black ;

}
.head1{
    font 
}
